.about {
  display: flex;
  justify-content: center;
  padding: 50px 0;
  background-color: #fcfeff;
}

.item {
  display: flex;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.item div {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  flex: 1;
  gap: 1rem;
}

.item img {
  width: 250px;
  height: 250px;
  object-fit: cover;
}

.item p {
  color: #6c6e72;
}

@media (max-width: 650px) {
  .item {
    flex-direction: column;
  }

  .item img {
    width: 100%;
  }

  .item div {
    padding: 1rem;
  }
}
