footer {
  background-color: #134d7c;
  display: flex;
  justify-content: center;
}

footer ul {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

footer p,
footer li {
  margin: 10px;
  color: #fcfeff;
  text-align: center;
  font-weight: 500;
  font-size: 1rem;
  letter-spacing: 0.8px;
}

.container {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.container img {
  width: 25px;
}

.copyright {
  align-items: center;
  font-size: 0.8rem;
  font-weight: 300;
}
