.intro {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.container {
  max-width: 1024px;
  display: flex;
  padding: 0 10px;
}

.content {
  width: 60%;
  color: #06090c;
}

.description {
  color: #6c6e72;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: 0px;
  margin-bottom: 1.5rem;
}

.picture {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 40%;
}

.image {
  border: 2px solid #fcfeff;
  border-radius: 50%;
  height: 250px;
  width: 250px;
}

.intro button {
  background: #336a97;
  color: white;
  padding: 0.5rem 0.75rem;
  font-size: 1rem;
}

.intro button:hover {
  background: #92ceff;
  transform: scale(1.03);
}

@media (max-width: 1024px) {
  .container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .picture {
    justify-content: center;
    order: -1;
  }
}

@media (max-width: 500px) {
  .description {
    font-size: 0.875rem;
  }
}
