.navbar {
  display: flex;
  justify-content: center;
  background-color: #fcfeff;
  box-shadow: 0px 2px 8px 4px rgba(0, 0, 0, 0.1);
  padding: 20px 0;
  width: 100%;
  z-index: 999;
}

.menu {
  display: none;
  font-size: 24px;
  background: none;
  border: none;
  cursor: pointer;
}

.container {
  max-width: 1024px;
  display: flex;
}

.logo {
  display: flex;
  justify-content: flex-start;
  color: #06090c;
  font-size: 1.65rem;
  font-weight: 700;
  line-height: 1.25;
  letter-spacing: 1.4px;
  flex: 0 0 auto;
  width: 224px;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 730px;
}

.navigation li a {
  position: relative;
  text-decoration: none;
  margin: 10px;
  color: #6c6e72;
}

.navigation li a::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #279eff;
  transform: scaleY(0);
  transform-origin: bottom;
  transition: transform 0.3s ease;
}

.navigation li a:hover::after {
  transform: scaleY(1);
}

.navigation li a:hover {
  cursor: pointer;
  color: #279eff;
}

@media (max-width: 1024px) {
  .menu {
    display: block;
  }

  .navigation {
    display: none;
    flex-direction: column;
    position: absolute;
    background-color: #fcfeff;
    top: 70px;
    right: 0;
    width: 150px;
    padding: 1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.281);
    transition: all 0.3s ease;
  }

  .logo {
    width: 80vw;
  }

  .navigation.show {
    display: flex;
  }
}
