/* GLOBAL STYLE */
* {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  box-sizing: content-box;
}

html {
  scroll-behavior: smooth;
}

main {
  flex: 1;
}

.app-layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

h2,
h3 {
  text-transform: capitalize;
  color: #06090c;
  font-weight: 600;
  line-height: 1.25;
}

p {
  font-size: 1.125rem;
  margin: 0px;
  font-weight: 400;
  line-height: 1.5;
}

h1 {
  font-size: 4rem;
  line-height: 2;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.25rem;
}

a {
  color: #06090c;
  text-decoration: none;
}

ul {
  padding: 0px;
}

li {
  list-style: none;
}

button {
  border: none;
  box-sizing: border-box;
  transition: all 0.2s ease;
}

.sticky {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}

@media (max-width: 500px) {
  h1 {
    font-size: 3rem;
  }
}
